/iric_prod_crud-dao-context.xml
/IpAddrreses.properties
/keys.properties
/asti.properties
/aws.properties
/awsdev.properties
/beanstalk.properties
/beanstalkdev.properties
/pollux.properties
/swagger.properties
/vmirri.properties
/config.properties
/application.properties
/IpAddresses.properties
/brs.properties
/science_cloud.properties
/localhost-SC2-1k1.properties
/localhost.properties
