smtp.port=<INSERT SMTP PORT HERE>
smtp.from=<INSERT SENDER EMAIL HERE>
smtp.fromName=<INSERT SENDER NAME HERE>
smtp.username=<INSERT SMTP USERNAME HERE>
smtp.password=<INSERT SMTP PASSWORD HERE>
smtp.host=<INSERT SMTP HOST HERE>

galaxy.key=<INSERT GALAXY KEY HERE>

passkey=<INSERT PASSKEY HERE>