files:
  "/etc/profile.d/Path.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      export PATH=$PATH:.

  "/opt/elasticbeanstalk/hooks/appdeploy/post/666_SymLinks.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      mkdir /IRCstorage/temp/
      chmod 777 /IRCstorage/temp/
      mkdir /var/lib/tomcat/webapps/temp/
      ln -s /IRCstorage/temp/ /var/lib/tomcat/webapps/temp
      