commands:
  create_env_vars:
    command: "source /etc/profile"
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    JAVA_OPTS: "-Xms1024m -Xmx4096m -XX:+UseG1GC"
    DB_USERNAME: "iricadmin"
    DB_PASSWORD: "!r1C4dmIn-irr1"
    DB_URL: "jdbc:postgresql://iric-rds-singapore-prod-v1-arm64.c2r9vateznp1.ap-southeast-1.rds.amazonaws.com:5432/iric"
    RECAPTCHA_SECRET_KEY: "6Lde5MEqAAAAAPfUDTkpvARIpETwSsiT-c0ne4eh"
    MICROSOFT_CLIENT_ID: "8f69a01b-9888-4dab-a974-0806b5d9c90e"
    MICROSOFT_TENANT_ID: "6afa0e00-fa14-40b7-8a2e-22a7f8c357d5"
    MICROSOFT_SECRET: "Pek8Q~wuvCTNTOmU2.c2DAmefOhdGSf~KUv-Xdg_"
    GOOGLE_OAUTH_CLIENT_ID: "638229545216-n658t92m7pei9nc0239qfit0rcro2k91.apps.googleusercontent.com"
    GOOGLE_OAUTH_CLIENT_SECRET: "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"
    HDF5_NATIVE_LIB_PATH: "/IRCStorage/iric-portal-files/hdf-java/HDFView-2.10.1-Linux/HDF_Group/HDFView/2.10.1/lib"
