# Database Configuration
DB_URL=jdbc:postgresql://postgresql:5432/iric
DB_USERNAME=postgres
DB_PASSWORD=user1234

# Application Configuration
HOSTNAME=localhost:8080
# Add other required environment variables from README.md as needed
# RECAPTCHA_SECRET_KEY=
# MICROSOFT_CLIENT_ID=
# MICROSOFT_TENANT_ID=
# MICROSOFT_SECRET=
# GOOGLE_OAUTH_CLIENT_ID=
# GOOGLE_OAUTH_CLIENT_SECRET=
# GOOGLE_ANALYTICS_PROPERTY_ID=
