
files:
  "/etc/efs-mount.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Variables
      EFS_ID=fs-0e15afb845a78b397
      MOUNT_POINT=/mnt/efs
      EFS_DNS=fs-0e15afb845a78b397.efs.ap-southeast-1.amazonaws.com:/ 

      # Install NFS client if not already installed
      if ! rpm -q nfs-utils; then
        yum install -y nfs-utils
        apt-get install -y nfs-common
      fi

      # Create mount point directory
      if [ ! -d "$MOUNT_POINT" ]; then
        mkdir -p $MOUNT_POINT
      fi

      # Mount the EFS file system
      mount -t nfs4 $EFS_DNS $MOUNT_POINT  >> /etc/output.log 2>&1

      # Add EFS mount entry to /etc/fstab for persistence
      grep -q "$EFS_DNS" /etc/fstab || echo "$EFS_DNS $MOUNT_POINT nfs4 defaults,_netdev 0 0" >> /etc/fstab

  "/etc/profile.d/Path.sh" :
    mode: "0755"
    owner: root
    group: root
    content: |
      export PATH=$PATH:.

  "/var/app/current/.platform/hooks/postdeploy/create_SymLinks.sh":
    mode: "0755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      LOGFILE="/var/log/new_symlink_creation.log"
      
      echo "Starting symlink creation at $(date)" >> $LOGFILE
      
      if [ -d /var/lib/tomcat9/webapps/temp ]; then
        echo "temp Directory exists"
        rm -rf /var/lib/tomcat9/webapps/temp
      else
        echo "temp Directory does not exist"
      fi
      
      echo "CREATING SYMLINK...2"
      echo "sudo -u tomcat ln -sf /mnt/efs/iric-portal-files/temp /var/lib/tomcat9/webapps/temp"
      sudo -u tomcat ln -sf /mnt/efs/iric-portal-files/temp /var/lib/tomcat9/webapps/temp >> $LOGFILE 2>&1
      
      echo "CREATING SYMLINK...3"
      echo "sudo -u tomcat ln -sf /mnt/efs/iric-portal-files/temp /var/lib/tomcat9/webapps/ROOT/temp"
      sudo -u tomcat ln -sf /mnt/efs/iric-portal-files/temp /var/lib/tomcat9/webapps/ROOT/temp >> $LOGFILE 2>&1
      
      if [ $? -eq 0 ]; then
        echo "Symlink created successfully" >> $LOGFILE
      else
        echo "Failed to create symlink" >> $LOGFILE
      fi
      
      if [ -d /var/lib/tomcat9/webapps/temp ]; then
        echo "webapps/temp Directory exists" >> $LOGFILE 2>&1
        ls -l /var/lib/tomcat9/webapps/ >> $LOGFILE 2>&1
        echo "=========" >> $LOGFILE 2>&1
        ls -l /var/lib/tomcat9/webapps/ROOT >> $LOGFILE 2>&1
      else
        echo "webapps/temp Directory does not exist" >> $LOGFILE 2>&1
      fi

commands:
  02_run_efs_mount_script:
    command: "/etc/efs-mount.sh"
    
container_commands:
  02_verify_efs_mount:
    command: |
      if mount | grep -q '/mnt/efs'; then
        echo "EFS is mounted successfully."
        if [ -w /mnt/efs ]; then
          echo "EFS mount is writable."
        else
          echo "EFS mount is not writable." >&2
          exit 1
        fi
      else
        echo "EFS mount failed." >&2
        exit 1
      fi
  03_checkFolder:
    command: |
      if [ -d /var/lib/tomcat9/webapps ]; then
        echo "webapps Directory exists"
      else
        echo "webapps Directory does not exist"
      fi
      
      if [ -d /var/lib/tomcat9/webapps/temp ]; then
        echo "webapps/temp Directory exists"
        ls -l /var/lib/tomcat9/webapps/
      else
        echo "webapps/temp Directory does not exist"
      fi
      
      if [ -d /var/lib/tomcat9/webapps/ROOT/temp ]; then
        echo "webapps/ROOT/temp Directory exists"
      else
        echo "webapps/ROOT/temp Directory does not exist"
      fi
      
      if [ -d /mnt/efs/iric-portal-files/temp ]; then
        echo "mnt Directory exists"
      else
        echo "mnt Directory does not exist"
      fi